
<section class='home_main_container'>

    <h1>To win, connect 4 pieces in a row vertically,
        horizontally, or diagonally</h1>

    <div class='controls'>
        <button class='new_game' ng-click='areYouSure(1, "clear the board?")'>New Game</button>
        <button class='reset_score' ng-click='areYouSure(2, "reset the score?")'>Reset Score</button>
        <div class='player_names'>
            <p>PLAYER 1 (blue)</p>
            <p>Name:</p>
            <input type='text' ng-model='playerOneName'>
            <p>PLAYER 2 (red)</p>
            <p>Name:</p>
            <input type='text' ng-model='playerTwoName'>
        </div>
        <div class='score_box'>
            <p>Score:</p>
            <p>{{ playerOneName }}: {{ score.player1 }}</p>
            <p>{{ playerTwoName }}: {{ score.player2 }}</p>
        </div>
    </div>

    <div class='double_check' ng-show='showAreYouSureBox'>
        <p>Are you sure you want to {{ action }}</p>
        <button ng-click='executeSelectedFunction()'>Yes</button>
        <button ng-click='hideAreYouSureBox()' id='no_button'>No</button>
    </div>

    <div class='board' ng-click='checkForWinner()'>

        <div class='column' id='col_0'>
            <div class='circle' id='c0r5'></div>
            <div class='circle' id='c0r4'></div>
            <div class='circle' id='c0r3'></div>
            <div class='circle' id='c0r2'></div>
            <div class='circle' id='c0r1'></div>
            <div class='circle' id='c0r0'></div>
        </div>
    
        <div class='column' id='col_1'>
            <div class='circle' id='c1r5'></div>
            <div class='circle' id='c1r4'></div>
            <div class='circle' id='c1r3'></div>
            <div class='circle' id='c1r2'></div>
            <div class='circle' id='c1r1'></div>
            <div class='circle' id='c1r0'></div>
        </div>
        
        <div class='column' id='col_2'>
            <div class='circle' id='c2r5'></div>
            <div class='circle' id='c2r4'></div>
            <div class='circle' id='c2r3'></div>
            <div class='circle' id='c2r2'></div>
            <div class='circle' id='c2r1'></div>
            <div class='circle' id='c2r0'></div>
        </div>
        
        <div class='column' id='col_3'>
            <div class='circle' id='c3r5'></div>
            <div class='circle' id='c3r4'></div>
            <div class='circle' id='c3r3'></div>
            <div class='circle' id='c3r2'></div>
            <div class='circle' id='c3r1'></div>
            <div class='circle' id='c3r0'></div>
        </div>
        
        <div class='column' id='col_4'>
            <div class='circle' id='c4r5'></div>
            <div class='circle' id='c4r4'></div>
            <div class='circle' id='c4r3'></div>
            <div class='circle' id='c4r2'></div>
            <div class='circle' id='c4r1'></div>
            <div class='circle' id='c4r0'></div>
        </div>
        
        <div class='column' id='col_5'>
            <div class='circle' id='c5r5'></div>
            <div class='circle' id='c5r4'></div>
            <div class='circle' id='c5r3'></div>
            <div class='circle' id='c5r2'></div>
            <div class='circle' id='c5r1'></div>
            <div class='circle' id='c5r0'></div>
        </div>
        
        <div class='column' id='col_6'>
            <div class='circle' id='c6r5'></div>
            <div class='circle' id='c6r4'></div>
            <div class='circle' id='c6r3'></div>
            <div class='circle' id='c6r2'></div>
            <div class='circle' id='c6r1'></div>
            <div class='circle' id='c6r0'></div>
        </div>

    </div>

</section>
